<table *ngIf="imageList">
  <tr *ngFor="let i of rowIndexArray">
    <td>
      <div class="imagebox" *ngIf="i==0">
        <a routerLink="/image/upload">
          <img src="/assets/img/new_image.jpg" class="img-fluid">
          <span class="imagebox-desc">Insert New Image</span></a>
      </div>
      <div class="imagebox" *ngIf="i!=0">
        <span class="imagebox-desc">{{imageList[3*i-1].caption}}</span>
        <br>
        <span class="imagebox-desc">{{imageList[3*i-1].category}}</span>
        <br>
        <span class="imagebox-desc">{{imageList[3*i-1].imageUrl}}</span>
      </div>
    </td>
    <td *ngIf="imageList[3*i]">
      <div class="imagebox" >
        <span class="imagebox-desc">{{imageList[3*i].caption}}</span>
        <br>
        <span class="imagebox-desc">{{imageList[3*i].category}}</span>
        <br>
        <span class="imagebox-desc">{{imageList[3*i].imageUrl}}</span>
      </div>
    </td>
    <td *ngIf="imageList[3*i+1]">
      <div class="imagebox">
        <span class="imagebox-desc">{{imageList[3*i+1].caption}}</span>
        <br>
        <span class="imagebox-desc">{{imageList[3*i].category}}</span>
        <br>
        <span class="imagebox-desc">{{imageList[3*i].imageUrl}}</span>
      </div>
    </td>
  </tr>
</table>